.top
{
  margin-top: 50px;
}
.inner-panel {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.45) 100%, black 0%),url(../../assets/img/imag-5.jpg) center center/cover no-repeat!important;
    width: 550px;
    height: 100%;
    opacity: 1.0;
    z-index: -1;
    position: absolute;
    background-blend-mode: darken;
}

.alignment{
	margin-bottom: 25px;
}
.btn-info {
    padding: 11px 0px;
    font-size: 20px;
    border-radius: 42px;
}
.forgot>a{
	color: black;
}
.forgot{
	margin-left: 20px;
}
.forgot>a:hover{
	text-decoration: none;
}
.forgot>a:visited{
	color: black;
}

.header{
	margin-top: 20px;
}
.img-set{
	width: 50px;
	height: 50px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}

.ul_tabs > li > a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 16px;
    color: #999;
    line-height: 14px;
    padding: 20px;
    display: block;
    transition: all 0.5s;
}
.ul_tabs > .active > a {
    color: #FF8383;
}
.active .linea_bajo_nom {
    position: relative;
    width: 100%;
    float: left;
    background-color: #FF8383;
    height: 2px;
}
.linea_bajo_nomn {
    position: relative;
    width: 100%;
    float: left;
    background-color: #999;
    height: 2px;
    display: none;
}
.hover:hover .linea_bajo_nomn{
    display: block;
}

@media (max-width: 767px)
{
	.img-set{
		width: 50px;
		height: 50px;
		margin-top: 18px;
	}
}
.form-control:focus {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}