.data-alignment{
	width: 550px;
	margin: auto;
	margin-top: 20px;
}
.text-font{
	font-size: 20px;
}
body{
	margin-bottom: 0px;
	background-color:; 
}
hr{
	border-top: 1px solid #ccc;
}
.text-alignment{
	top: 200;
}
.text-alignment>h3>a {
    font-size: 20px;  
}
.box-shadow:hover {
    box-shadow: 4px 0px 11px #ccc;
    cursor: pointer;
}
.bg-img{
	background-image: url(http://localhost/project/assets/img/dummy_profile.png);
    background-size: 305px;
    background-repeat: no-repeat;
    margin-left: 25px;
    width: 255px;
    height: 233px;
}
.profile-img{
    margin-left: 25px;
}
.navbar-inverse {
    background-color: #289acc;
    border-color: #289acc;
    border-radius: 0px;
    height: 65px;
}
.heading-bg{
    background-color: #248ab7;
    padding: 12px;
    text-align: center;
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #248ab7;
    height: 64px;
    padding: 23px 19px;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 22px 13px;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #248ab7;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 190px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu-user{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 250px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.glyphicon {
    position: relative;
    top: 2px;
    color: #5b4b43;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.white-box
{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.container{
    width: 600px;
}
.input-field {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-size{
    padding: 8px;
    font-size: 20px;
}
.img-design{
    margin-left: 33px;
}





